<h2 mat-dialog-title>Select Color Scheme</h2>
<mat-dialog-content>
    <mat-radio-group [(ngModel)]="selectedScheme">
        <mat-radio-button value="light">Light</mat-radio-button>
        <mat-radio-button value="dark">Dark</mat-radio-button>
        <mat-radio-button value="system">System</mat-radio-button>
    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onApply()">Apply</button>
</mat-dialog-actions>
