@use '@angular/material' as mat;

* {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary-container),
            container-text-color: var(--mat-sys-primary),
        )
    );
}

main {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 40px;
    height: 100px;

    span {
        margin-left: 10px;
    }
    .app-name {
        font-weight: bold;
        font-size: 32px;
    }
    .app-slogan {
        position: absolute;
        left: 125px;
        top: 40px;
        font-size: 12px;
    }
    main-menu {
        position: absolute;
        right: 0px;
        top: 48px;
    }
}
